@model Admin_Panel.Models.Attribute

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-5">
                <h1>Edit</h1>
                <h4 class="mt-3">Attribute</h4>
                <hr />

                <form asp-action="Edit" class="mt-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                      <div class="mb-3" hidden> <!-- Hiding the OriginId field -->
        <label for="OriginId" class="form-label">OriginId</label>
        <input type="text" asp-for="OriginId" class="form-control" />
        <span asp-validation-for="OriginId" class="text-danger"></span>
    </div>
                      <div class="mb-3" hidden> <!-- Hiding the OriginId field -->
        <label for="Position" class="form-label">Position</label>
        <input type="text" asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
                    <div class="mb-3">
                        <label for="Title" class="form-label">Title</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                     <div class="mb-3">
                        <label for="ShortTitle" class="form-label">Short Title</label>
                        <input type="text" asp-for="ShortTitle" class="form-control" />
                        <span asp-validation-for="ShortTitle" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
    <label for="Status" class="form-label">Status</label>
    <select asp-for="Status" class="form-select">
        <option value="1">Deleted</option>
        <option value="2">Active</option>
        <option value="3">Waiting</option>
    </select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>
                    <div class="mb-3">
                        <label for="Value" class="form-label">Value</label>
                        <input type="text" asp-for="Value" class="form-control" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
 
                    <div class="mb-3">
                        <label for="UnitOfMeasurement" class="form-label">Unit of Measurement</label>
                        <input type="text" asp-for="UnitOfMeasurement" class="form-control" />
                        <span asp-validation-for="UnitOfMeasurement" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="ShortTitle" class="form-label">Short Title</label>
                        <input type="text" asp-for="ShortTitle" class="form-control" />
                        <span asp-validation-for="ShortTitle" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="GroupAttr" class="form-label">Group Attribute</label>
                        <input type="text" asp-for="GroupAttr" class="form-control" />
                        <span asp-validation-for="GroupAttr" class="text-danger"></span>
                    </div>
                    
                    @* <div class="mb-3">
                        <label for="Status" class="form-label">Status</label>
                        <input type="text" asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div> *@

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
