html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
#fileInput{
  display: none;
  overflow: hidden;
  height: 0;
  width: 0;
}
body {
  margin-bottom: 60px;
}
a{
  text-decoration: none;
}

.file-button-mask:hover{
  background: #3498db;
  opacity: 0.8;
}

.file-button-mask{
  /* margin: 100px auto; */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px 10px 0px;
  display: block;
  color: white;
  border-radius: 2px;
  height:30px;
  width:100px;
  background: #3498db;
}

.image-cell {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px; /* You can adjust the height as needed */
}

.form-select-wrapper {
  overflow: hidden;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
}

.form-select {
  width: calc(100% + 17px); /* Додати додатковий піксель для компенсації полоси прокрутки */
}
   /* Додайте стилі тут, якщо необхідно */
   .prod-detail-row {
    margin: 20px;
}

/* .sticky-gap {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.swiper-entry {
    width: 100%;
}

.gallery-wrapper {
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.product_detail-img img {
    width: 100%;
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
} */

#imageGridWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 145px;
  height: 145px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.image-container:hover .delete-button {
  display: block;
}

.gallery-wrapper {
display: grid;
grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
grid-gap: 15px;
gap: 15px;
}

/* .prod-detail-row { margin-top: 1px; --bs-gutter-x: 12px; }

.prod-detail-row > * { padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5); }

.product_detail-swiper { background: #F7F7F7; }

.product_detail-swiper .product_labels { z-index: 2; }

.product_detail-img { position: relative; display: block; padding-top: 100%; }

.product_detail-img img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; height: 100%;object-fit: cover; }

.product_detail-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.product_detail { position: relative; max-width: 668px; padding: 0 15px 0 3px; width: 100%; margin: 20px auto 0 auto; }

.product_detail > * { margin-bottom: 30px; }

.product_detail-description.text {font-size: 18px;font-weight: 400;}





.swiper-entry.gallery-wrapper:not(.product_detail-swiper) .swiper-container { overflow: visible; }

.gallery-item { position: relative; overflow: hidden; cursor: pointer; padding-top: 100%; font-size: 0; width: 100%; }

.gallery-item:not(.product_detail-img) img { position: absolute; top: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: var(--transition-2); -o-transition: var(--transition-2); transition: var(--transition-2); }

.lg-toolbar .lg-icon:not(.lg-close) { display: none; }

.lg-actions .lg-next, .lg-actions .lg-prev { background-color: transparent !important; padding: 0; }

.lg-actions .lg-prev:after, .lg-actions .lg-next:before { content: none !important; }

.lg-outer .lg-thumb { margin: 0 auto; }

.lg-outer .lg-thumb-item { border-radius: 0 !important; }

.lg-outer .lg-thumb-item { border: none !important; border-radius: 0 !important; margin-bottom: 0 !important; opacity: .4; }

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover { opacity: 1 !important; }

.lg-backdrop.in { background-color: rgba(0, 0, 0, 0.4) !important; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); }

.lg-toolbar, .lg-thumb-outer.lg-grab, .lg-outer .lg-toogle-thumb, .lg-outer .lg-thumb-outer { background-color: rgba(0, 0, 0, 0.4) !important; }

@media (min-width: 1200px) { .gallery-item:not(.product_detail-img):hover img { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); } }

@media (max-width: 767px) { .lg-actions .lg-next, .lg-actions .lg-prev { display: none !important; } } */