@model Admin_Panel.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="text-center mt-4">Create</h1>
    <h4 class="text-center">Product</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortName" class="control-label"></label>
                    <input asp-for="ShortName" class="form-control" />
                    <span asp-validation-for="ShortName" class="text-danger"></span>
                </div>
                    <div class="form-group">
        <label asp-for="ImageId" class="file-input-label">
           
        </label>
        <input asp-for="ImageId" type="file" id="fileInput" name="ImageId" class="form-control"/>
    </div>
   <div class="form-group">
    <label asp-for="Categories" class="control-label">Category</label>
    <select asp-for="Categories" class="form-select" asp-items="@ViewBag.Categories">
        <option value="">Select a category</option>
    </select>
</div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
               
               
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price"  class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountedPrice" class="control-label"></label>
                    <input asp-for="DiscountedPrice"  class="form-control" />
                    <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sku" class="control-label"></label>
                    <input asp-for="Sku"  class="form-control" />
                    <span asp-validation-for="Sku" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity"  class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                
              
              
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
<script>
    function previewImage(event) {
        const previewContainer = document.querySelector('.preview');
        if (event.target.files && event.target.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                previewContainer.style.backgroundImage = `url('${e.target.result}')`;
            };
            reader.readAsDataURL(event.target.files[0]);
        } else {
            previewContainer.style.backgroundImage = `url('assets/images/icon-placeholder.svg')`;
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
