@model Admin_Panel.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="mb-4">Delete</h1>

    <div class="mb-4">



        <div class="mt-4">
            <h3>Ви дійсно хочете видалити цей продукт ?</h3>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
