@model Admin_Panel.ViewModels.BrandCreateViewModels
@* @model Admin_Panel.Models.Category *@

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="text-center mt-4">Create</h1>
    <h4 class="text-center">Brand</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
               
               
            
                   <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-select">
            <option value="1">Deleted</option>
            <option value="2">Active</option>
            <option value="3">Waiting</option>
        </select>
    </div>
              
                 <div class="form-group" id="hiddenId">
        <label asp-for="Photo" class="file-input-label">
           
        </label>
        <div id="previewImg">
          @* @if (!string.IsNullOrEmpty(Model.ImageId.ToString())){   
         <div class="image-container">
        <img src="@Model.UploadedFiles.FilePath" alt="Image 1">
        <button class="delete-button"  data-file-id="@Model.ImageId" >Видалити</button>
    </div>
    } *@
    </div>
    @* value="@Model.ImageId" *@
        <input asp-for="Photo" type="file" id="brandImage" name="Photo" class="form-control"/>
               <input type="hidden" id="previewBrandId" name="ImageId" >
     
    </div>
             
                <div class="form-group text-center">
                    <button type="submit" id="testbtn" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @* <script>
        
     // Обробник події при зміні вибраних файлів
     $('#brandImage').on('change', function (e) {
        var files = e.target.files;
           console.log("ddddsfsss");
        // Створюємо об'єкт FormData для відправлення файлів
        var formData = new FormData();

        // Додаємо файли до об'єкту FormData
        for (var i = 0; i < files.length; i++) {
            formData.append('file', files[i]); }
    
        // Додаємо додаткові дані (якщо потрібно)
        formData.append('FolderName', 'brands');
    
        // Здійснюємо Ajax-запит для завантаження файлів на сервер
        $.ajax({
            type: 'POST',
            url: 'https://localhost:7144/api/Uploads/SingleUploadImage?FolderName=brands',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
           if(response && response.id)
                      $('#previewBrandId').val(response.id);
                 
                      $('#previewImg').append(
                        '<div class="image-container">' +
                        '<img src="' + response.filePath + '" alt="Image">' +
                        '<button class="delete-button" data-file-id="' + response.id + '">Видалити</button>' +
                        '</div>'
                    );
               
            },
            error: function () {
                console.error('Помилка при завантаженні файлів на сервер.');
            }
        });
    });
    </script> *@
}
