@model Admin_Panel.ViewModels.BrandCreateViewModels
@* @model Admin_Panel.Models.Category *@

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="text-center mt-4">Create</h1>
    <h4 class="text-center">Brand</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-select">
                        <option value="1">Deleted</option>
                        <option value="2">Active</option>
                        <option value="3">Waiting</option>
                    </select>
                </div>

                <div class="form-group" id="hiddenId">
                    <label asp-for="Photo" class="file-input-label">

                    </label>
                    <div id="previewImg">
                    </div>

                    <input asp-for="Photo" type="file" id="brandImage" name="Photo" class="form-control" />
                    <input type="hidden" id="previewBrandId" name="ImageId">

                </div>

                <div class="form-group text-center">
                    <button type="submit" id="testbtn" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
